$magnolia: #ECF0F1;
$grey: #aaa;
$light-grey: #ddd;
$dark-grey: #5E6D70;
$navy-blue: #0F2D38;
$light-blue: #A6F4FF;
//$blue: #2A76A8;
//$dark-blue: #053969;
//$purple: #BB3399;
//$black: #1B1D1E;
//$green: #86935B;
$dark-green: #143c4a;
$light-blue: #40BFEB;

$off-white: #F7F7F7;
$pale-grey: #EEE;
$black: #323232;
//$green: #5EB75A;
$orange: #FF9B00;
//$red: #D7534A;
$purple: #663368;

$blue: #0099B9;
$dark-blue: #0B5C6C;
$pink: #C5145B;
$green: #867B0D;
$dark-green: #6C6305;

$base-font-size:   24px; // The font size set on the root html element.
$base-line-height: 34px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;
$logo-font-size: 2 * $base-font-size;
$small-logo-font-size: 1.5 * $base-font-size;

$page-width: 960px;

$raleway: Raleway, Arial, Helvetica, "Nimbus Sans L", sans-serif;
$ubuntu: Ubuntu, Arial, Helvetica, "Nimbus Sans L", sans-serif;
$josefin: "Josefin Sans" "Times New Roman", Times, Georgia, "DejaVu Serif", serif;

$base-font-family: $raleway; // The font family set on the html element.
$heading-font-family: $raleway;
$logo-font: $josefin;

$border: solid 1px $light-grey;

@mixin panel-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;

  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
}

@mixin header-background() {
  background: -webkit-linear-gradient($blue, $dark-blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue, $dark-blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue, $dark-blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue, $dark-blue); /* Standard syntax */
}