<form name="newTweetForm" method="post" novalidate ng-submit="sendNewTweet(newTweet)">
  <div class="form-group">
    <label>Tweet</label>
    <textarea class="form-control tweet-text" name="newTweet" rows="1" placeholder="What's happening?" ng-model="newTweet.message" required /></textarea>
    <span class="error" ng-show="newTweetForm.message.$error.required && newTweetForm.message.$dirty">What's happening?</span>
  </div>
  <div class="form-group">
    <button type="submit" ng-disabled="newTweetForm.$invalid" class="btn btn-primary">Send tweet</button>
  </div>
</form>