<div class="icon-panel">
  <div class="icons">
    <div class="action-icon reply-icon" data-id-str="{{ tweet.id_str }}"><i title="Reply" class="fa fa-reply"></i></div>
    <div class="action-icon retweet-icon" data-id-str="{{ tweet.id_str }}"><i title="Retweet" class="fa fa-retweet"></i></div>
    <div class="action-icon favourite-icon" data-id-str="{{ tweet.id_str }}"><i title="Favourite" class="fa fa-star"></i></div>
  </div>
  <div class="clearfix>"></div>
  <div class="reply-form" style="display:none;"></div>
  <div class="retweet-form" style="display:none;"></div>
</div>