<form name="tweetReplyForm" method="post" novalidate ng-submit="sendStatusUpdate(newTweet)">
  <div class="form-group">
    <label>Reply</label>
    <textarea class="form-control tweet-text" name="newTweet" rows="1" placeholder="What's happening?" ng-model="newTweet.message" required /></textarea>
    <input type="hidden" name="tweetId" value="" class="tweet-id" />
    <span class="error" ng-show="tweetReplyForm.message.$error.required && tweetReplyForm.message.$dirty">What's happening?</span>
  </div>
  <div class="form-group">
    <button type="button" ng-click="testSubmit" ng-disabled="tweetReplyForm.$invalid" class="btn btn-primary send-reply">Send reply</button>
  </div>
</form>