<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="twitterapp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TweetPop - View and post tweets in real time</title>
  <meta name="description" content="View tweets only a few seconds after they are posted on Twitter. View tweets post your own tweets, favourite, reply and retweet in real time">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="shortcut icon" href="http://www.systemick-web-development.co.uk/assets/images/favicon.ico" type="image/vnd.microsoft.icon" />
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

  <!-- Analytics -->
  <!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57938038-1', 'auto');
    ga('send', 'pageview');
  </script>-->
</head>
<body class="{{ bodyClass }}">

  <div id="container">

    <header ng-controller="headerCtrl">

      <div class="inner">

        <div class="user-heading">
          <div class="user-info last hidden-xs" ng-show="tweetapp.authorised">
            <div class="top">@{{ user.screen_name }}</div>
          </div>
          <div class="user-info hidden-xs" ng-show="tweetapp.authorised">
            <div class="top">{{ user.name }}</div>
          </div>
          <a href="http://tweetpop.co.uk">
            <div class="logo">
              <span>TweetPop<span>
              <i class="fa fa-comment "></i>
            </div>
          </a>
          <div class="profile-image hidden-xs" ng-show="tweetapp.authorised">
            <img src="{{ user.profile_image_url_https }}" width="50" height="50" />
          </div>
          <div class="hamburger visible-xs-block" ng-show="tweetapp.authorised" ng-click="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>

      <div class="navigation" ng-show="mobileMenuVisible">
        <ul class="nav-items">
          <li><a href="" ng-click="hideAll()">Tweets</a></li>
          <li><a href="" ng-click="toggleMobileTrends()">Filters</a></li>
          <li><a href="" ng-click="toggleMobileUserTweets()">Your tweets</a></li>
          <li><a href="" ng-click="toggleMobileFavouriteTweets()">Your favourites</a></li>
          <li><a href="" ng-click="toggleContact()">Contact</a></li>
          <li><a href="" ng-click="toggleAbout()">About</a></li>
          <li><a href="#/logout">Logout</a></li>
        </ul>
      </div>

      <div class="clearfix"></div>

    </header>

    <div class="clearfix"></div>

    <div class="visible-xs-block mobile-trends" ng-show="mobileTrendsVisible">
      <h3>Trending</h3>
      <div id="trends" class="colour-panel blue trends" ng-controller="trendCtrl">
        <p>Click on a trend to only see tweets tagged with that hastag.</p>
        <p>{{ streamFilterText }}</p>
        <div class="trend" ng-repeat="trend in trends | filter: selectTrends">
          <a href="" title="Filter by {{ trend.name }}" ng-click="setStreamFilter(trend.name)">{{ trend.name }}</a>
        </div>
        <div class="hide-div"><a href="" ng-click="toggleMobileTrends()">Hide</a></div>
        <filter-change></filter-change>
      </div>
    </div>

    <div class="visible-xs-block mobile-favourite-tweets" ng-show="userTweetsExist && mobileUserTweetsVisible">
      <h3>Your tweets</h3>
      <div id="userTweets" class="colour-panel blue user-tweets">
        <div class="user-tweet panel tweet ngFade" data-tweet-id="{{ tweet.id_str }}" ng-repeat="tweet in userTweets">
          <div class="name">
            <a href="http://twitter.com/{{ tweet.user.screen_name }}">
              <span>{{ tweet.user.name }}</span>
              <span class="screen-name">@{{ tweet.user.screen_name }}</span>
              {{ tweet.short_date }}
            </a>
          </div>
          <div class="text" ng-bind-html="tweet.display_text"></div>
          <div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
          <icon-panel context="userTweets"></icon-panel>
          <div class="clearfix"></div>
        </div>
        <div class="hide-div"><a href="" ng-click="toggleMobileUserTweets()">Hide</a></div>
      </div>
    </div>

    <div class="visible-xs-block mobile-user-tweets" ng-show="favouritesExist && mobileFavouriteTweetsVisible">
      <h3>Favourites</h3>
      <div id="favouriteTweets" class="colour-panel blue favourites">
        <div class="favourite panel tweet ngFade" ng-repeat="tweet in favouriteTweets">
          <div class="name">
            <a href="http://twitter.com/{{ tweet.user.screen_name }}">
              <span>{{ tweet.user.name }}</span>
              <span class="screen-name">@{{ tweet.user.screen_name }}</span>
              {{ tweet.short_date }}
            </a>
          </div>
          <div class="text" ng-bind-html="tweet.display_text"></div>
          <div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
          <icon-panel context="favouriteTweets"></icon-panel>
          <div class="clearfix"></div>
        </div>
        <div class="hide-div"><a href="" ng-click="toggleMobileFavouriteTweets()">Hide</a></div>
      </div>
    </div>

    <div style="width:100%;" class="ngFade main-content" ng-view></div>

    <div class="clearfix"></div>

    <footer id="footer" class="region region-footer">
      <div class="inner">

        <div id="block-system-powered-by" class="block powered">
          <span>Powered by <a href="https://angularjs.org">Angular JS</a> and <a href="http://nodejs.org">Node JS</a></span>
        </div>
        <div id="block-copy" class="block copy">
          &copy; <a href="http://js.systemick-web-development.co.uk" target="_blank">Systemick {{ currentYear }}</a>
        </div>

      </div>
    </footer>

  </div> <!-- container -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="bower_components/socket.io-client/socket.io.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/chartjs/Chart.js"></script>
  <script src="components/vendor/ng-infinite-scroll.min.js"></script>
  <script src="app.js"></script>
  <script src="components/user/userServices.js"></script>
  <script src="components/user/userControllers.js"></script>
  <script src="components/home/homeControllers.js"></script>
  <script src="components/stream/streamServices.js"></script>
  <script src="components/stream/streamControllers.js"></script>
  <script src="components/stream/streamDirectives.js"></script>
  <script src="components/trend/trendServices.js"></script>
  <script src="components/trend/trendDirectives.js"></script>
  <script src="components/trend/trendControllers.js"></script>
  <script src="components/tweet/tweetControllers.js"></script>
  <script src="components/tweet/tweetServices.js"></script>
  <script src="components/tweet/tweetDirectives.js"></script>
  <script src="components/contact/contactControllers.js"></script>
  <script src="components/contact/contactServices.js"></script>
  <script src="components/contact/contactDirectives.js"></script>
  <script src="components/about/aboutControllers.js"></script>
  <script src="components/about/aboutDirectives.js"></script>
  <script src="components/message/messageControllers.js"></script>
  <script src="components/message/messageDirectives.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
