<div class="modal-about" ng-show="showAbout" ng-controller="aboutCtrl">
  <div class="dialog">
    <div class="close" ng-click="toggleAbout()">
      <i class="fa fa-times"></i>
    </div>
    <div class="about">
      <h3>This is TweetPop.</h3> 

      <p>Here you can view the most popular tweets in the UK. Tweets appear on your page only a few seconds after they are posted on Twitter. All tweets are tagged with the current most popular hashtags. You can keep your finger on the pulse of the beating heart that is the Twitter stream and interact with the tweets in the stream by posting your own tweets, favouriting, replying and retweeting in real time.</p>

      <p>TweetPop was created by <a href="js.systemick-web-development.co.uk" target="_blank">Systemick</a> using javascript.</p>
    </div>
  </div>
</div>