<p></p>

<div ng-hide="tweetapp.authorised">

	<div id="page" class="login" ng-controller="loginCtrl">

		<h2>Login</h2>
	  <div class="error" ng-show="formSubmitError">{{ formSubmitError }}</div>
	  <div class="error" ng-show="loginError">{{ loginError }}</div>
		<div class="form" ng-hide="formSuccess">
			<form name="twitterLoginForm" method="post" action="http://localhost:3001/tweetapp/login/twitter">
				<div class="well">
			  	<input type="hidden" value="123456789" />
			  	<div class="form-group">
			  		<input type="submit" value="Log in using Twitter" />
			  	</div>
			  </div>
			</form>
		</div>

	</div>

</div>

<div ng-show="tweetapp.authorised">

	<div id="page" class="home" ng-hide="authorised">

		<contact-modal></contact-modal>

		<about-modal></about-modal>

		<div class="error" ng-show="twitterDataError">{{ twitterDataError }}</div>

		<div class="column left" data-tweet-icon-panel="streamTweets" ng-controller="streamCtrl">

			<h3>Tweets</h3>

			<messages></messages>

			<div class="stream-state" ng-hide="streamPaused">
				<img src="/assets/images/loading.gif" /> 
				<span>Loading tweets ... </span>
				<button type="button" class="btn btn-primary send-tweet" ng-click="toggleStreamPaused()">{{ buttonText }}</button>
			</div>
			<div class="stream-state" ng-show="streamPaused">
				<span>Stream is currently paused</span>
				<button type="button" class="btn btn-primary send-tweet" ng-click="toggleStreamPaused()">{{ buttonText }}</button>
			</div>
			
			<div id="stream" class="stream" style="min-height: 500px" data-stream-tweet-list="streamTweets" class="ngFade"></div>

		</div>

		<div class="column right hidden-xs">

			<h3>Trending</h3>
			<div class="panel trends" ng-controller="trendCtrl">
				<div class="error" ng-show="trendsError">{{ trendsError }}</div>
				<div class="trend" ng-repeat="trend in trends | filter: selectTrends">
					<a href="" title="Filter by {{ trend.name }}" ng-click="setStreamFilter(trend.name)">{{ trend.name }}</a>
				</div>
				<filter-change></filter-change>
			</div>

			<div ng-show="userTweetsExist">
				<h3>Your tweets</h3>
				<div id="userTweets" class="panel user-tweets">
					<div class="user-tweet panel tweet ngFade" data-tweet-id="{{ tweet.id_str }}" ng-repeat="tweet in userTweets">
						<div class="name">
							<a href="http://twitter.com/{{ tweet.user.screen_name }}">
								<span>{{ tweet.user.name }}</span>
								<span class="screen-name">@{{ tweet.user.screen_name }}</span>
								{{ tweet.short_date }}
							</a>
						</div>
						<div class="text" ng-bind-html="tweet.display_text"></div>
						<div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
						<icon-panel context="userTweets"></icon-panel>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div ng-show="favouritesExist">
				<h3>Favourites</h3>
				<div id="favouriteTweets" class="panel favourites">
					<div class="favourite panel tweet ngFade" ng-repeat="tweet in favouriteTweets">
						<div class="name">
							<a href="http://twitter.com/{{ tweet.user.screen_name }}">
								<span>{{ tweet.user.name }}</span>
								<span class="screen-name">@{{ tweet.user.screen_name }}</span>
								{{ tweet.short_date }}
							</a>
						</div>
						<div class="text" ng-bind-html="tweet.display_text"></div>
						<div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
						<icon-panel context="favouriteTweets"></icon-panel>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="panel site-info hidden-xs">
				<span><a href="http://js.systemick-web-development.co.uk" target="_blank">&copy; Systemick {{ currentYear }}</a></span>
				<span><a href="" ng-click="toggleContact()">Contact</a></span>
				<span><a href="" ng-click="toggleAbout()">About</a></span>
				<span><a href="#/logout">Logout</a></span>
			</div>

		</div>

		<div class="clearfix"></div>

	</div>

</div>