<p></p>

<div class="login-container" ng-hide="tweetapp.authorised">

	<div id="page" class="login panel" ng-controller="loginCtrl">

		<h2>This is TweetPop</h2>
		<div class="form" ng-hide="formSuccess">
			<p>Here you can view the most popular tweets in the UK. Tweets appear on your page only a few seconds after they are posted on Twitter. All tweets are tagged with the current most popular hashtags. You can keep your finger on the pulse of the beating heart that is the Twitter stream and interact with the tweets in the stream by posting your own tweets, favouriting, replying and retweeting in real time.</p>
			<form name="twitterLoginForm" method="post" action="http://localhost:3001/tweetapp/login/twitter">
				<div class="well">
			  	<input type="hidden" value="123456789" />
			  	<div class="form-group">
			  		<input type="submit" value="Log in using Twitter" />
			  	</div>
			  </div>
			</form>
		</div>

	</div>

</div>

<div ng-show="tweetapp.authorised">

	<div id="page" class="home" ng-hide="authorised">

		<messages></messages>

		<contact-modal></contact-modal>

		<about-modal></about-modal>

		<div class="error" ng-show="twitterDataError">{{ twitterDataError }}</div>

		<div class="column left" data-tweet-icon-panel="streamTweets" ng-controller="streamCtrl">

			<h3>Tweets</h3>

			<div ng-controller="tweetCtrl">
        <tweet-form></tweet-form>
      </div>

      <div class="clearfix"></div>

			<div class="stream-state" ng-hide="streamPaused">
				<img src="/assets/images/loading-small.gif" /> 
				<span>Loading tweets ... </span>
				<button type="button" class="btn btn-primary send-tweet" ng-click="toggleStreamPaused()">{{ buttonText }}</button>
			</div>
			<div class="stream-state" ng-show="streamPaused">
				<span>Stream is currently paused</span>
				<button type="button" class="btn btn-primary send-tweet" ng-click="toggleStreamPaused()">{{ buttonText }}</button>
			</div>

			<div id="stream" class="stream" style="min-height: 500px" data-stream-tweet-list="streamTweets" class="ngFade"></div>

		</div>

		<div class="column right hidden-xs">

			<h3>Trending</h3>
			<div id="trends" class="colour-panel blue trends" ng-controller="trendCtrl">
				<p>Click on a trend to only see tweets tagged with that hastag.</p>
				<p>{{ streamFilterText }}</p>
				<div class="trend" ng-repeat="trend in trends | filter: selectTrends">
					<a href="" title="Filter by {{ trend.name }}" ng-click="setStreamFilter(trend.name)">{{ trend.name }}</a>
				</div>
				<filter-change></filter-change>
			</div>

			<div ng-show="userTweetsExist">
				<h3>Your tweets</h3>
				<div id="userTweets" class="colour-panel blue user-tweets">
					<div class="user-tweet panel tweet ngFade" data-tweet-id="{{ tweet.id_str }}" ng-repeat="tweet in userTweets">
						<div class="name">
							<a href="http://twitter.com/{{ tweet.user.screen_name }}">
								<span>{{ tweet.user.name }}</span>
								<span class="screen-name">@{{ tweet.user.screen_name }}</span>
								{{ tweet.short_date }}
							</a>
						</div>
						<div class="text" ng-bind-html="tweet.display_text"></div>
						<div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
						<icon-panel context="userTweets"></icon-panel>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div ng-show="favouritesExist">
				<h3>Favourites</h3>
				<div id="favouriteTweets" class="colour-panel blue favourites">
					<div class="favourite panel tweet ngFade" ng-repeat="tweet in favouriteTweets">
						<div class="name">
							<a href="http://twitter.com/{{ tweet.user.screen_name }}">
								<span>{{ tweet.user.name }}</span>
								<span class="screen-name">@{{ tweet.user.screen_name }}</span>
								{{ tweet.short_date }}
							</a>
						</div>
						<div class="text" ng-bind-html="tweet.display_text"></div>
						<div class="tweet-id" style="display:none;">{{ tweet.id_str }}</div>
						<icon-panel context="favouriteTweets"></icon-panel>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="colour-panel blue site-info hidden-xs">
				<span><a href="http://js.systemick-web-development.co.uk" target="_blank">&copy; Systemick {{ currentYear }}</a></span>
				<span><a href="" ng-click="toggleContact()">Contact</a></span>
				<span><a href="" ng-click="toggleAbout()">About</a></span>
				<span><a href="#/logout">Logout</a></span>
			</div>

		</div>

		<div class="clearfix"></div>

	</div>

</div>